:root {
  --background-color: #efefef;
  --password-width: 250px;
  --password-border: #666;

  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: var(--password-width);
  min-height: 100vh;
}

form {
  margin: auto;
}

input[type="password"] {
  font-size: 1.0rem;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  width: var(--password-width);
  border: 1px solid var(--password-border);
  border-radius: 0.25rem;

  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd" /></svg>');
  background-repeat: no-repeat;
  background-position: center left 0.5rem;
  background-size: 1.5rem;
}